nav.menu-nav ul li.btn{
	display: inline-block;
    list-style-type: none;
}
nav{
	border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
	text-align:center;
}
nav.menu-nav ul li.btn a{
	color: #b6d7a8;
	background-color: black;
	text-decoration: none;
	padding: 10px;
    border-width:0px;
    border-color:#93c47d;
}
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}

body{background-color: black;
}
